@media(max-width: 1439px) {
  .intro-description-item h2 {
    font-size: 48px;
  }
}

@media(min-width: 0px) and (max-width:1200px) {
  .col-md-3 {
    width: 33.33%;
  }

  .col-md-3.made-in {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
  }
}

@media (min-width:0px) and (max-width:1125px) {
  .intro-description-item h2 {
    font-size: 36px;
  }
}

@media (min-width:0px) and (max-width:1025px) {
  .intro-description .intro-description-item {
    padding: 118px 0 118px 50px;
  }

  .learn-section .row .col-lg-4 {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .learn-section .learn-item {
    max-width: 380px;
  }

  .img-panel {
    display: block;
    margin: 0 auto;
  }

  .footer-content .col-lg-3 {
    width: 33.33%;
  }

  .footer-content .col-md-12 {
    width: 100%;
  }

  .made-in {
    margin-top: 30px;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

@media(min-width: 0px) and (max-width: 950px) {
  .is-scrolled .getapp-wrapper, .open .getapp-wrapper {
    display: none;
  }

  .navbar-nav .nav-link {
    display: none;
  }
}

@media(min-width: 0px) and (max-width: 899px) {

  .col-md-4 {
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin-bottom: 20px !important;
  }

  .out-site {
    justify-content: space-around !important;
    margin-bottom: 0;
    border-top: 1px solid #2c2c3a;
    border-bottom: 1px solid #2c2c3a;
    padding: 10px;
  }

  .footer-content .col-md-3 {
    width: 33.33%;
  }

  .footer-content .col-md-3.made-in {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
  }

  .footer-social {
    margin: 0;
    padding: 0;
    border-top: 0;
    margin-bottom: 25px;
  }
}

@media(min-width: 0px) and (max-width: 800px) {
  .row {
    margin: 0;
  }

  .footer-content .col-md-3 {
    width: 100%;
    padding: 10px 0;
  }
}

@media(min-width: 0px) and (max-width: 768px) {
  .intro-section {
    display: block !important;
  }

  .intro-section-banner {
    width: 100%;
  }

  .intro-description {
    width: 100%;
    display: flex;
  }

  .intro-description .intro-description-item {
    width: 50%;
    padding: 40px 20px;
    min-height: 170px;
  }

  .intro-description-item h2 {
    font-size: 28px;
  }

  .intro-description-item span {
    font-size: 12px;
  }

  #mobile-screen {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .desktop-screen {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 576px) {

  .container {
    padding: 0;
  }

  .row>* {
    margin: 0;
    padding: 0;
  }

  .intro-description-item h2 {
    font-size: 20px;
  }

  .navbar {
    height: 53px;
    padding: 0 3vw;
  }

  .sidemenu-close {
    height: 53px;
  }

  .navbar .container-fluid {
    padding: 0;
  }

  .navbar-brand .logo {
    width: 160px;
    position: relative;
    max-height: 70px;
  }

  .sidemenu {
    width: 100%;
    transition: 0s;
  }

  .question-section {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .question-section a {
    font-size: 14px;
  }

  .question-section .title {
    font-size: 17px;
  }

  .question-section .description {
    font-size: 14px;
  }

  footer {
    padding: 40px;
  }

  .col-12 {
    margin-bottom: 20px;
  }
}

@media (min-width: 0px) and (max-width: 360px) {
  .intro-item-list img {
    width: 125px;
    height: 47px;
  }

  .learn-section .learn-item img {
    width: 80px;
    height: 80px;
    margin: auto;
  }

  .learn-section .row .col-lg-4 {
    padding: 20px;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .intro-description {
    display: block;
  }

  .intro-description .intro-description-item {
    width: 100%;
  }

  .intro-item-list a:first-child {
    margin-right: 0px;
  }

  .footer-social .app-list {
    display: block !important;
  }

  .navbar-brand .logo {
    width: 130px;
    height: auto;
  }
}